# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# production
/dist

/.idea

# misc
.DS_Store
.env
npm-debug.log
*.pem
.eslintcache

# vite / rollup
.rollup.cache

vite.config.ts.timestamp*

# vscode
.vscode